// HOME //
.jumbotron {
  background-image: url("../images/backgroundimghome.jpg");
  background-color: #363A45;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  margin-bottom: 0em;
  height: 100vh;
  position: relative;
}
//HOMEPAGE BACKGROUND
.hero {
  background-color: #363A45;
  margin-top: 5%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: white;
  height: 65%;
  width: 50%;

}

// HOMEPAGE TEXT
.HomeTitleH1 {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.HomeTitleH1 {
  display: flex;
  justify-content: center;
}

  @media screen and (max-width: 1250px) {
    .HomeTitleH1{
      font-size: 1em;
    }
    .HomeTitleH2{
      font-size: 1em;
    }
    .hero {
      height: 50%;
    }
  }



// NAVBAR //

.navbarMaster {
  background-color: #363A45;
  height: 100px;
}

//Navbar Text (Title)
.navbarText.navbar-brand {
  color: white;
  margin-left: 15%;
  font-size: 35px;
}

.mr-auto {
  margin-left: 50%;
}

@media screen and (max-width: 1150px) {
  .navbarText.navbar-brand{
    font-size: 1em;
  }
}

//MODALS
.modalMaster {
  background-color: #363A45;
  color: white;
  height: 25%;
  padding: 5%;
}

.modalForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5%;
  margin-left: 1.5%;
}

Button {
  margin: 5px;
}


// SIDE BAR NAVIGATION

.logged-in-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 9999;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebar-wrapper{
  position: fixed;
  color: #363A45;
  width: 8.5vw;
  min-height: 100vh !important;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  z-index: 9997;
}

#sidebar-wrapper .sidebar-heading {
  color: #363A45;
  padding: 0.875rem 1.25rem;
  font-size: 1.5rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.DashboardIcons {
  margin-bottom: 20%;
  margin-left: 25%;
}

.sidenav---sidenav-toggle---1KRjR {
  margin-bottom: 20%;
  margin-left: 25%;
}

.subaccountCreationFormTextBox {
  margin-left: 2%;
  width: 155%;
}

// GLOBAL BANNERS

.pocketbook-banner {
  margin-left: 0.75%;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/backgroundimghome.jpg');
  background-size: auto;
  background-position: bottom;
  position: relative;
  text-align: center;
  color: white;
}

.pocketbookBannerH1 {
  padding-top: 2%;
  font-size: 50px;
}


// Dashboard

.DashboardMain {
  background-color: #363A45;
  margin: auto;
  height: 1000px;
}

.WidgetRow {
  display: flex;
  margin-top: 3%;
  padding-bottom: 1%;
}

.CurrencyTracker {
  margin-top: 5%;
  margin-left: 7.5%;
  margin-right: 5%;
  background-color: #363A45;
}

@media screen and (min-width: 1650px) {
  .WidgetColumn{
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 1650px) {
  .WidgetRow {
    margin-left: 15%;
  }
}



  // CREATE SUB ACCOUNT
  .SAFormTitle {
    margin-top: 15%;
    height: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/backgroundimghome.jpg');
    border: #363A45;
    color: white;
    text-align: center;
  }

  .card {
  border: #363A45;
  }

  .SAFormControl {
    margin-top: 2.5%;
  }


  // SUBACCOUNT PAGE
  .transactionUppercase {
    text-transform: capitalize;
  }

  .CreateSubAccName {
    color: white;
  }

  .CreateSubaccountRow {
    margin-top: 1%;
    padding-left: 10%;
    position: relative;
    height: 100%;
  }

  .SubACreationTable {
    width: 85%;
  }

  .AddTransButton {
    margin-bottom: 2.5%;
  }

  .subaccountDashboard {
    height: 100vh;
    background-color: #363A45;
  }

  // NO SUBACCOUNTS PAGE
.subaccountTitleH1 {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.subaccountTitleH2 {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.subaccounthero {
  background-color: #363A45;
  margin-top: 5%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: white;
  height: 45%;
  width: 40%;
}

  @media screen and (max-width: 1250px) {
    .subaccountTitleH1{
      font-size: 2em;
    }
    .subaccountTitleH2{
      font-size: 1.5em;
    }
    .subaccounthero {
      height: 50%;
    }
  }