// HOME
.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://cdn.wallpapersafari.com/98/18/sfD3Xc.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  margin-bottom: 0em;
  height: 100vh;
  position: relative;
}

.hero {
  color: white;
}

//LOGIN
.login-reg-wrapper {
  height: 25%;
  display: flex;
  align-items: center;
  padding: 5%;
}