// HOME
.jumbotron {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-color: orange;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  margin-bottom: 0em;
  height: 100vh;
  position: relative;
}

.hero {
  color: orange;
}

//LOGIN
.login-reg-wrapper {
  height: 25%;
  display: flex;
  align-items: center;
  padding: 5%;
}



// SIDE BAR NAVIGATION
.logged-in-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  position: fixed;
  color: orange;
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  color: orange;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.DashboardIcons {
  margin-bottom: 17.5%;
  margin-left: 10%;
}

.DashboardMain {
  background-color: orange;
  z-index: 999;
}